:8080 {
  #tls ssl/localhost.cert.pem ssl/localhost.key.pem
  root ./
  gzip
  
  rewrite {
    regexp ^/(.*)$
    ext /
    to /test/index.html
  }
  
  rewrite {
    regexp ^/bower_components/koppar-elements/(.*)$
    to /{1}
  }
  
  rewrite {
    regexp ^/bower_components/(.*)$
    to /test/bower_components/{1}
  }

  log / access.log "{remote} {status} {method} {proto} {path} {query} {when}"
  errors error.log

  mime .events text/event-stream
  mime .css text/css
}