<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="app-view">
  <template>
    <div id="insertion">

    </div>
    <content></content>
  </template>
  <script>
    Polymer({
      is: "app-view",
      properties: {
        route: {
          type: String,
          notify: true
        },
        show: {
          type: Boolean,
          value: false
        },
        data: Object,
        lazy: Boolean
      },
      observers: [
        "showChanged(show)"
      ],
      behaviors: [
        Polymer.Templatizer
      ],
      attached: function() {
      },
      showChanged: function(show) {
        this.$.insertion.innerHTML = "";
        if(show) {
          var template = Polymer.dom(this).querySelector('template');
          this.templatize(template);
          var node = this.stamp({data: this.data});
          Polymer.dom(this.$.insertion).appendChild(node.root);
        }
      }
    })
  </script>
</dom-module>